
#headshot{
      float: left;
  border: 3px solid black;
  border-radius: 137px;
  margin-right: 10px;
    
}

#foot{
    background-image: url(paper.jpg);
    
}

h1,h2{
    text-align: center;
    font-family: 'Ubuntu Mono';
}

.front{
    width: 100%;
    
}

#checklist{
    list-style-type: none;
  
  width: 51%;
  margin: auto;
  padding: 10px;
  text-align: left;
  font-size: 22px;
    
}

#bio{
    padding: 17px;
    
}
